.x-treetable {
	border: 1px solid gray;
	border-bottom: none;
	border-radius: 4px;
}

.x-treetable .x-thead {
	background-color: #BEBEBE; 
	border-bottom: 1px solid gray;
}

.x-treetable .x-tbody {
	position: relative;
	max-height: 300px;
	overflow: auto;
}

.x-tr {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	transition: top 2s;
	align-items: center;
	height: 35px;
}

.x-treetable .x-tbody .x-tr {
	border-bottom: 1px solid gray;
}

.x-th, .x-td {
	display: inline-block;
	padding: 5px 0px 5px 10px;
}

.x-th, .x-td {
	flex-grow: 1;
	flex-basis: 10%;
} 

/* .x-tbody .x-tr:first-child .x-td {
	color: red;
} */

.x-th:first-child, .x-td:first-child {
	flex-basis: 40%;
}

.x-th {
	border-right: 1px solid gray;
}

.x-th:last-child {
	border-right: none;
}

.x-action {
	position: absolute;
	right: 2%;
}

.x-action span {
	display: inline-block;
	font-size: 20px;
	transition: color 2s ease;
}

.x-move-disable {
	color: gray;
}

.x-action .x-move-disable:hover {
	background-color: #EEE;
}

.x-action span:hover {
	background-color: #9ED3A5;
}

.x-content {
	padding: 3px;
}

.x-content:hover {
	border: 1px solid gray;
	border-radius: 4px;
	background-color: #fff;
	box-sizing: inset 0 1px 1px rgba(0,0,0,.075)
}

.leaf {

}

.branch {

}

.branch:hover {
	background-color: #EEE;
}


.symbol {
	position: relative;
	font-size: 20px;
}

.x-search {
	position: absolute;
	right: 0;
	width: 130px;
}

.x-search input {
	display: inline-block;
	line-height: 1.7;
	width: 85px;
	padding-left: 5px;
	padding-right: 30px;
}

.x-search .x-search-next, .x-search .x-search-pre {
	position: absolute;
	top: 30%;
	color: gray;
}
.x-search .x-search-next:hover, .x-search .x-search-pre:hover {
	color: black;
}

.x-search .x-search-pre {
	right: 7%;
}
.x-search .x-search-next {
	right: 16%;
}

.x-search-hightlight {
	background-color: #FFFFAB;
	border: 1px solid yellow;
	border-radius: 2px
}

.x-search-active {
	background-color: #ffee00;
	border: 1px solid #ffc700;
	border-radius: 2px;
}